/*
* @Author: iSunXiaojun
* @Date:   2018-01-31 15:45:12
* @Last Modified by:   iSunXiaojun
* @Last Modified time: 2018-01-31 17:21:36
*/
/* 导航主体 */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}