/*
* @Author: iSunXiaojun
* @Date:   2018-01-30 18:33:21
* @Last Modified by:   iSunXiaojun
* @Last Modified time: 2018-01-30 18:37:33
*/
.footer{
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}